/* You can add global styles to this file, and also import other style files */

.logout-dialog-custom {

 background-color: #d20e0e;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.logout-dialog-custom .mat-dialog-title {
  color: #d32f2f;
  font-weight: bold;
}

.logout-dialog-custom .mat-dialog-actions {
  padding-right: 16px;
  padding-bottom: 16px;
}

.logout-dialog-custom button.mat-button {
  font-weight: 600;
}
